body{
    background-image: url(Fondo.jpg);
    background-size: 100%;
}

.Estaxd{
    font-style: italic;
}

h1, h2, p {
    text-align: center;
}
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
h1, h2{
    font-family: Impact,serif;
}

hr{
    height: 3px;
    background-color: brown;
    border-color: blue;
}

.menu{
    width: 80%;
    background-color:aqua;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}
.nepe,.dessert{
    text-align: left;
    width: 70%;
}
.price{
    text-align:right;
    width: 25%;
}
.item p{
    display: inline-block;
    margin-top:5px;
    margin-bottom: 5px;
}
/* FOOTER */
footer{
    font-size: 14px;
}
a{
    color:black;
}
a:visited{
    color:green;
}
a:hover{
    color:chocolate;
}
a:active{
    color:white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}